<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quynt.hethonghotrovanchuyen">
    <uses-permission  android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegisterShipperActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.RegisterOwnerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.DeliveryShipperActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.AuctionShipperActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.CreateDeliveryRequirementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.DeliveryRequirementOwnerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.AuctionOwnerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
